
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inputCont {
  font-family: 'Inter';
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  
}

.inputCont input {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: rgba(197, 192, 185, 0.342);
  height: 25px;
  padding: 8px;
  max-width: 400px;
}

.inputCont input:focus-visible{
    outline-color: rgb(25, 0, 250);
    transition: outline-color 0.25s;
}
